:root {
    --violet-darker-100: 78, 10, 138;
    --violet-dark-100: 94, 13, 166;
    --violet-100: 127, 17, 224;
    --violet-10: 242, 231, 252;
    --violet-5: 249, 243, 253;
    --magenta-100: 255, 19, 115;
    --green-100: 0, 183, 154;
    --dark-100: 58, 42, 70;
    --dark-60: 137, 127, 144;
    --dark-10: 235, 234, 237;
    --dark-5: 245, 244, 246;
    --dark-3: 249, 249, 249;
    --white: 255, 255, 255;
    --size-0_5: 0.125rem;
    --size-1: 0.25rem;
    --size-1_5: 0.375rem;
    --size-2: 0.5rem;
    --size-2_5: 0.625rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --radius-xs: 0.0625rem;
    --radius-sm: 0.125rem;
    --radius: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-xxl: 1rem;
    --radius-full: 99999px;
    --tex-xxs: 0.75rem;
    --text-xs: 0.875rem;
    --text: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-xxl: 2rem;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-8);
}


.todo-item {
    display: flex;
    ;
}

.todo-item-text-container {}

body {
    background-color: rgb(var(--dark-5));
}

/*STRUCTURES & CONTAINERS*/
.app-wrapper {
    max-width: 960px;
    background-color: rgb(var(--white));
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    border: 1px solid rgb(var(--dark-10));
    border-radius: var(--radius-xl);
    -webkit-border-radius: var(--radius-xl);
    -moz-border-radius: var(--radius-xl);
    -ms-border-radius: var(--radius-xl);
    -o-border-radius: var(--radius-xl);
    position: relative;
    overflow: hidden;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: var(--size-4);
    padding: 0 var(--size-8);
}

.fn-bar {
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
}

/*COMPONENTS*/

.tab {
    width: 100%;
    border-bottom: 1px solid rgb(var(--dark-10));
}

.tab ul {
    display: flex;
    width: 100%;
}

.tab-item {
    flex-basis: 50%;
    padding: var(--size-6) var(--size-8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 360ms;
    transition-timing-function: ease-in-out;
}

.tab-item:hover {
    background-color: rgb(var(--violet-5));
    color: rgb(var(--dark-100))
}

.tab-item:active {
    background-color: rgb(var(--violet-10));
    color: rgb(var(--dark-100))
}

.tab-active {
    color: rgb(var(--dark-100));
    border-bottom: 2px solid rgb(var(--violet-100));
}

.tab-inactive {
    color: rgb(var(--dark-60));
}

.btn-primary {
    background-color: rgb(var(--violet-100));
    color: rgb(var(--white));
    padding: var(--size-2) var(--size-4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-lg);
    -webkit-border-radius: var(--radius-lg);
    -moz-border-radius: var(--radius-lg);
    -ms-border-radius: var(--radius-lg);
    -o-border-radius: var(--radius-lg);
    transition: background-color 360ms ease-in-out;
    -webkit-transition: background-color 360ms ease-in-out;
    -moz-transition: background-color 360ms ease-in-out;
    -ms-transition: background-color 360ms ease-in-out;
    -o-transition: background-color 360ms ease-in-out;
}

.btn-primary:hover {
    background-color: rgb(var(--violet-dark-100));
}

.btn-primary:active {
    background-color: rgb(var(--violet-darker-100));
}

.btn-basic {
    background-color: rgb(var(--white));
    color: rgb(var(--dark-100));
    padding: var(--size-2) var(--size-4);
    border: 1px solid rgb(var(--dark-10));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-lg);
    -webkit-border-radius: var(--radius-lg);
    -moz-border-radius: var(--radius-lg);
    -ms-border-radius: var(--radius-lg);
    -o-border-radius: var(--radius-lg);
}

.btn-icon-text {
    background-color: rgb(var(--white));
    color: rgb(var(--dark-100));
    padding: var(--size-2) var(--size-4);
    border: 1px solid rgb(var(--dark-10));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    display: flex;
    gap: var(--size-2);
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-lg);
    -webkit-border-radius: var(--radius-lg);
    -moz-border-radius: var(--radius-lg);
    -ms-border-radius: var(--radius-lg);
    -o-border-radius: var(--radius-lg);
}

.btn-icon-text>i {
    font-size: var(--text-md);
    color: rgb(var(--dark-60));
}

.bg-overlay {
    background-color: rgba(var(--dark-100), 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.c-form {
    background-color: rgb(var(--white));
    padding: var(--size-8) 0 var(--size-8) 0;
    max-width: 852px;
    border-radius: var(--radius-lg);
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-border-radius: var(--radius-lg);
    -moz-border-radius: var(--radius-lg);
    -ms-border-radius: var(--radius-lg);
    -o-border-radius: var(--radius-lg);
}

.c-textarea,
.c-textfield {
    display: block;
    width: 100%;
    resize: none;
    padding: 0 var(--size-8);
    color: rgb(var(--dark-100));
}

.c-textarea {
    margin-bottom: var(--size-4);
}

.c-textfield {
    font-weight: 600;
    font-size: var(--text-lg)
}

;

.c-textarea:-moz-focusring,
.c-textarea:focus,
.c-textfield:focus {
    outline: 1px solid transparent;
    outline-offset: 2px;
}

.c-textfield {
    height: var(--size-8);
}

.c-textfield-title {
    margin-bottom: var(--size-4);
}

.c-textarea::placeholder,
.c-textfield::placeholder {
    color: rgb(var(--dark-60));
    font-weight: 300;
    word-spacing: var(--size-0_5);
}

.c-textfield-title::placeholder {
    font-weight: 500;
}


/*UTILITIES*/

.mr-auto {
    margin-right: auto;
}