<div class="empty-state">
    <figure>
        <img src="img/empty-state.png" alt="Empty State image">
    </figure>
    <div class="empty-state-text">
        <h4>Seems pretty empty in here</h4>
        <p>Life doesn't have to be as boring as it is right now. Create your first task.</p>
    </div>
    <button type="button" class="btn-primary btn-create-todo w-full mt-4">Create task</button>
</div>