<form class="c-form hidden" method="post" id="todo-form" action="/">
    <input type="hidden" id="todo-id" name="id" value="">
    <input autocomplete="off" class="c-textfield c-textfield-title" type="text" name="title" id="title"
        placeholder="Task title...">
    <textarea autocomplete="off" class="c-textarea" name="description" id="description"
        placeholder="Description"></textarea>
    <div class="btn-container">
        <label for="duedate" class="form-special-input">
            <div class="form-special-input-container">
                <span>Due date</span>
                <input type="date" id="duedate" name="duedate" />
            </div>
        </label>
        <label for="priority" class="form-special-input mr-auto">
            <div class="form-special-input-container">
                <span>Priority</span>
                <select name="priority" id="priority" class="mr-auto">
                    <option disabled selected>Priority</option>
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
        </label>
        <button id="cancel-todo" type="button" class="btn-basic btn-cancel-todo">Cancel</button>
        <button type="submit" id="create-todo" class="btn-primary">Create task</button>
        <button type="submit" id="update-todo" class="btn-primary hidden">Update task</button>
    </div>
</form>